name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Lint code
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          working-directory: .

  security:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Install Trivy
        uses: aquasecurity/setup-trivy@v0.2.0
        with:
          cache: true
          version: v0.68.2

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: "-tests -no-fail -fmt sarif -out gosec-results.sarif ./..."

      - name: Upload Gosec scan results
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "gosec-results.sarif"

      - name: Scan code dependencies
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: "fs"
          scan-ref: "."
          severity: "HIGH,CRITICAL"
          format: "sarif"
          output: "trivy-results.sarif"
          skip-setup-trivy: true

      - name: Upload code dependencies scan results
        uses: github/codeql-action/upload-sarif@v4
        if: always()
        with:
          sarif_file: "trivy-results.sarif"

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Run tests
        run: go test -v ./...
